/* High contrast overrides */
/* Main body */
html, body {
    background-color: #000 !important;
    color: #fff !important;
    font-weight: bold !important;
}



/* Header */
header {
    border-bottom: 3px solid #fff !important;
    font-weight: bold !important;
}


/* Text */
a {
    color: #fff !important;
    font-weight: bold !important;
}

p {
    font-weight: bold !important;
}

p.error {
    color: #fff !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}



/* Buttons */
.btn {
    background-color: #000 !important;
    border: 3px solid #fff !important;
    border-radius: 0 !important;
    color: #fff !important;
    font-weight: bold !important;
    height: 50px !important;
    padding: 10px !important;
}

.btn:active {
    background-color: #fff !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background-color: #fff !important;
    color: #000 !important;
}



/* Input */
input[type=text], input[type=password], input[type=email], select {
    font-size: 24px !important;
    font-weight: bold !important;
    padding: 10px !important;
}

option {
    font-weight: bold !important;
}



/* Table */
table {
    font-weight: bold !important;
}