{% extends "base.html" %}

{% block includes %}
{% endblock %}

{% set title = 'Home' %}

{% block header %}
    {% include 'header.html'%}
{% endblock %}

{% block content %}
<div id="content" class="content">
    <div>
        <h3>Home Placeholder</h3>
        <p>Welcome to the Roman Numeral Converter V2!</p>
        {% if current_user.is_authenticated %}
        <p>Enter <a href="/menu">HERE</a> and start converting!</p>
        {% else %}
        <p>You are NOT logged in. <a href="/login/">Login here</a> or <a href="/register/">Register here</a>. </p>
        {% endif %}
    </div>
</div>

{% endblock %}
