<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
    
    {% if current_user.Theme == "Standard Light" %}
    {% elif current_user.Theme == "Dark" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_components/dark.css')}}">
    {% elif current_user.Theme == "High Contrast" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_components/highcont.css')}}">
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jslib/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jslib/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jslib/chartjs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block includes %}
    {% endblock %}
    <title>{{ title }}</title>
  </head>
  {% block body %}
    {% block header %}

    {% endblock %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notif" id="flash-msg">
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }} <span class="ui-icon ui-icon-closethick"></span></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  {% endblock %}
</html>
