{% extends "base.html" %}

{% block includes %}
    <script src="{{ url_for('static', filename='js/convert.js') }}"></script>
{% endblock %}

{% set title = 'Menu' %}

{% block header %}
    {% include 'header.html'%}
{% endblock %}

{% block content %}
<div id="content" class="content">
    <h1>Convert</h1>
    <div id="convert">
        <p>Fill in the field below and press "Convert" to get your conversion.</p>
        <p class="note">
            For numbers of different bases, prefix as appropriate:<br/>
            Base 2 (Binary) = 0b<br/>
            Base 8 (Octal) = 0o (zero oh)<br/>
            Base 16 (Hexadecimal) = 0x<br/><br/>
            Conversion can also go from Roman to Base 10.<br/>
            Roman Numeral = (Any mix of M/D/C/L/X/V/I characters)<br/><br/>
            * MAXIMUMS: 5000 (decimal), 0o11610 (octal), 0x1388 (hexadecimal), 0b1001110001000 (binary) *
        </p>
        <div id="converter">
            <div class="input">
                <label>Value for conversion:</label>
                <input id="value" name="value" type="text" placeholder="0x1A4">
            </div>
            
            <div class="input">
                <button class="btn" id="submit">Convert</button>
            </div>
            
            <div id="result"></div>
        </div>
    </div>
</div>

{% endblock %}
