{% extends "base.html" %}

{% block includes %}
{% endblock %}

{% set title = 'Menu' %}

{% block header %}
    {% include 'header.html'%}
{% endblock %}

{% block content %}
<div id="content" class="content">
    <h1>Convert</h1>
    <div id="convert">
        <p>Fill in the following fields and press "Convert" to get your conversion.</p>
        <p class="note">
            For numbers of different bases, prefix as appropriate:<br/>
            Base 2 (Binary) = 0b<br/>
            Base 8 (Octal) = 0o (zero oh)<br/>
            Base 10 (Decimal) = (Any numbers 1-9)<br/>
            Base 16 (Hexadecimal) = 0x<br />
            Roman Numeral = (Any mix of M/D/C/L/X/V/I characters)
        </p>
        <form action="" method="post">
            <div class="input">
                <label>Value for conversion:</label>
                <input id="value" name="value" type="text" placeholder="0x1A4">
            </div>
            
            <div class="input">
                <input class="btn" id="submit" name="submit" type="submit" value="Convert">
            </div>
        </form>
    </div>
</div>

{% endblock %}
