{% extends "base.html" %}

{% block includes %}
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}

{% set title = 'Menu' %}

{% block header %}
    {% include 'header.html'%}
{% endblock %}

{% block content %}
<div id="content" class="content">
    <h1>Stats</h1>
    <p>Want to see ALL of the conversions? Click <a href="/all_results">HERE</a>!</p>
    <div>
        <div class="canvas-div">
            <p>Converter use over time.</p>
            <canvas id="use-on-time"></canvas>
        </div>
        <div class="canvas-div">
            <p>Top 5 popular conversions.</p>
            <canvas id="popular-conversion"></canvas>
        </div>
    </div>
</div>

{% endblock %}
