{% extends "base.html" %}

{% block includes %}
{% endblock %}

{% set title = 'Menu' %}

{% block header %}
    {% include 'header.html'%}
{% endblock %}

{% block content %}
<div id="content" class="content">
    <h1>Menu</h1>
    <ul>
        <li><a href="/convert">Convert</a> - Perform a conversion to or from roman numerals!</li>
        <li><a href="/stats">View stats</a> - View some interesting statistics.</li>
        <li><a href="/settings">Settings</a> - Tweak some settings?</li>
        <li><a href="/logout/">Logout</a> - Sign out safely and securely.</li>
    </ul>
</div>

{% endblock %}
